body
{
    background-color:#C2A385;
    color: #fff;
}

#container
{
    width:960px;
    margin: 0 auto;
    background-color:#6B6B47;
}

#header
{
    width: 500px;
    height: 300px;
    margin: 0 auto;
}

#meny
{
    margin-left:10px;
    width: 150px;
    height: 100px;
    position:left;
}

#content
{
    margin: 0 auto;
    width: 700px;
    position:relative;
}

footer
{
    padding:10px 0 10px 0;
    text-align:center;
    color: #fff;
}

h1
{
    color: #4C4C33;
    border-bottom:1px solid #99CC00;
}
h2
{
    color: #C2A385;
}

hr
{
    color: #99CC00;
    background-color: #99CC00;
    height: 10px;
}