@import url(style.css);


.transparent
{
   background-color: rgba(238, 172, 170, 0.0);
}
    img
    {
    width:100%;
    max-width:200px;
    }
    
    video
    {
        max-width: 300px;
    }
    
    footer
    {
        padding:10px 0 10px 0;
        text-align:center;
        color: #fff;
        clear:both;
    }
    
    h1
    {
        font-size: 30px;
    }
    h2 
    {
        font-size: 20px;
    }
    
    hr
    {
        height: 5px;
    }
    
    ul
    {
        margin: 0 0 0 20px;
    }
    
    #container
    {
        width:99%;
        padding-left: 5px;
    }
    
#header
{
    width: 200px;
    height: 150px;
    padding-top: 15px;
}
    
    #logo
    {
        background-size: 200px 150px;
        background-repeat: no-repeat;
        background-attachment: center;
        height: 150px;
    }
    
    #content
    {
        width: 99%;
        margin-left: 2px;
    }


    /* MENU */
    #menu
    {
        width: 95%;
    }
    
    #menu li 
    {
        list-style: none;
        margin: 2px 0 0 0;
    }
    
    #menu li a
    {
        padding: 5px 0px 5px 0px;
    }
    
    /* FORM */
    #form fieldset
    {
        width: 80%;
    }
    
    #form legend
    {
            margin-left: 0;
    }
    